.inv-item-comp-arrow {
  width: 0;
  height: 0;

  border: 5px solid;

  position: absolute;
  right: -16px;

  &.up {
    border-color: transparent transparent #3a9e00 transparent;
    transform: translateY(1px);
  }

  &.down {
    border-color: #8f0202 transparent transparent transparent;
    transform: translateY(6px);
  }
}
