body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  color: white;
  user-select: none;

  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
