@import "src/client/other/colors";

.control-bar-section-wrap {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.control-bar-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.control-bar-item {
  cursor: pointer;
  margin: 0 4px;
  background-color: $commonGray;
  color: black;
  border-radius: 2px;
  padding: 4px;

  &.selected {
    background-color: black;
    color: white;
    border: 2px solid $commonGray;
  }
}
