.death-screen-wrap {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.death-screen-respawn {
  margin-top: 16px;
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
  align-self: center;
  text-align: center;
  width: 80px;

  &:hover {
    border-color: #3a9e00;
    color: #3a9e00;
  }
}
