.display-wrap {
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.game-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-world-name {
  padding-bottom: 16px;
}

.game-bottom-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}
