.inv-item-attr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inv-item-attr-value {
  display: flex;

  position: relative;
  flex-direction: row;
  margin-right: 24px;
}
