.leaderboard-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 1000;
}

.leaderboard-title {
  font-size: 24px;
  margin-bottom: 16px;
  background-color: rgba(black, 0.3);
  padding: 8px;
  border-radius: 4px;
}

.leaderboard-close {
  position: absolute;
  right: 0px;
  top: 8px;
  height: 32px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(white, 0);
  border-radius: 50%;

  cursor: pointer;

  transition: 0.1s;

  &:hover {
    background-color: rgba(#ff0000, 0.5);
  }
}

.leaderboard-list {
  width: 400px;
  max-height: 600px;
  overflow: auto;
}

.leaderboard-item {
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #4c4c4c;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  &:nth-of-type(1) {
    background-color: #c1a401;
  }

  &:nth-of-type(2) {
    background-color: #9d9d9d;
  }
  &:nth-of-type(3) {
    background-color: #834200;
  }

  &.gray {
    background-color: rgba(#4c4c4c, 0.3);
  }
}

.leaderboard-picker {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.leaderboard-picker-item {
  margin: 0 4px;
  padding: 4px;
  cursor: pointer;

  &.selected {
    box-shadow: 0 0 0 2px white;
  }
}
