.event-log-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 575px;
}

.event-log-list {
  width: 100%;
  height: 545px;
  background-color: rgba(white, 0.05);
  overflow: auto;
}

.event-log-title {
  margin-bottom: 16px;
}
