@import "src/client/other/colors";

.player-card-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 4px;
}

.player-card-name {
  display: flex;
  justify-content: center;
}

.player-name-gold {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 8px;
}

.player-card-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-overflow: fade;
}

.player-card-exp-name {
  display: flex;
  flex-direction: row;
}

.hp-bar {
  margin-top: 8px;
  width: 100%;
  height: 4px;
  background-color: rgba(white, 0.3);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.hp-bar-fill {
  height: 100%;
  background-color: #3a9e00;
  transition: 0.3s;
}

.hp-bar-fill-slow {
  height: 100%;
  background-color: rgba(#3a9e00, 0.3);
  transition: 1.5s;
  position: absolute;
  top: 0;
  left: 0;
}
