.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  input {
    font-size: 24px;
    margin: 2px 0;
    padding: 4px;

    &[type="submit"] {
      background-color: black;
      color: white;
      border: 1px solid white;
      display: flex;
      align-self: center;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 16px;
    }
  }
}

.login-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.login-picker-btn {
  padding: 8px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;

  &.selected {
    border: 2px solid white;
    cursor: initial;
    font-weight: bold;
  }
}
