.world-picker-wrap {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;

  transform: translate(-50%, -50%);
}

.world-choice {
  padding: 4px;
  cursor: pointer;

  display: flex;
  justify-content: flex-start;

  &:hover {
    background-color: rgba(white, 0.1);
  }

  &:active {
    background-color: rgba(white, 0.3);
  }
}

.world-choice-difficulty {
  width: 92px;
  display: flex;
  justify-content: center;
}

.world-picker-text {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
