$black: #000000;
$white: #ffffff;
$inertGray: #aaaaaa;
$playerGreen: #3a9e00;
$commonGray: #d4d4d4;
$uncommonBlue: #6e89db;
$rarePurple: #a664d1;
$epicPink: #b84d79;
$legendaryOrange: #bfa545;
$goldOrange: #ffbf34;
$enemyRed: #b83a3a;
$grayedOut: #1d1d1d;
