.settings-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logout-button {
  margin-top: 16px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    border-color: red;
    color: red;
  }
}
