.exp-bar-wrap {
  position: relative;
  display: flex;

  &:hover .exp-bar-percent {
    opacity: 1;
  }

  &:hover .exp-bar-center {
    opacity: 0;
  }
}

.radial-bar {
  position: relative;
  width: 48px;
  height: 48px;

  .radial-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 4px;
    fill: none;
    stroke: rgba(250, 250, 250, 0.2);
  }

  .radial-bar-inside {
    stroke-width: 4px;
    fill: none;
    stroke: #029ee2;
    stroke-dasharray: 0 151;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: 0.6s;
  }
}

.exp-bar-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exp-bar-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 11px;
}
