.stat-item-wrap {
  display: flex;
  flex-direction: column;
}

.stat-item-circle {
  height: 56px;
  width: 56px;
  border: 3px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
