.create-player-wrap {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.create-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.create-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  input {
    font-size: 24px;
    margin: 2px 0;
    padding: 4px;

    &[type="submit"] {
      background-color: black;
      color: white;
      border: 1px solid white;
      display: flex;
      align-self: center;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 16px;
    }
  }
}
