.event-log-item {
  background-color: rgba(white, 0.1);
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;

  opacity: 0.6;

  transition: 0.1s;

  &:nth-of-type(1) {
    opacity: 1;
  }
  &:nth-of-type(2) {
    opacity: 1;
  }
  &:nth-of-type(3) {
    opacity: 1;
  }
  &:nth-of-type(4) {
    opacity: 0.93;
  }
  &:nth-of-type(5) {
    opacity: 0.86;
  }
  &:nth-of-type(6) {
    opacity: 0.79;
  }
  &:nth-of-type(7) {
    opacity: 0.72;
  }
  &:nth-of-type(8) {
    opacity: 0.65;
  }

  &:hover {
    opacity: 1;
  }
}
