@import "src/client/other/colors";

.gold {
  color: $goldOrange;
  font-style: normal;
}

.gold-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;
  border-radius: 50%;
  border: 4px solid $goldOrange;
  width: 48px;
}
