@import "src/client/other/colors";

.inv-item-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  border: 1px solid;
  margin: 4px;
  border-radius: 4px;
  transition: 0.1s;
  min-width: 256px;
  justify-content: space-between;

  &.third {
    width: calc(33% - 8px);
  }

  &:hover {
    .inv-item-action {
      opacity: 0.5;
    }
  }
}

.inv-item-name {
  margin-bottom: 4px;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24px;
}

.inv-item-info {
  width: 100%;
  padding: 8px 0 8px 16px;
}

.inv-item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}

.inv-item-action.inv-item-action {
  padding: 8px;

  cursor: pointer;

  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  transition: 0.1s;
  flex: 1;
  overflow: hidden;

  font-size: 13px;

  &:hover {
    opacity: 1;
  }

  &:active {
    svg {
      transition: 1s transform;
      transform: rotate(360deg);
    }
  }
}

.common {
  &:hover {
    background-color: rgba($commonGray, 0.5);
    border-color: $commonGray;
  }
}

.uncommon {
  &:hover {
    background-color: rgba($uncommonBlue, 0.5);
    border-color: $commonGray;
  }
}

.rare {
  &:hover {
    background-color: rgba($rarePurple, 0.5);
    border-color: $commonGray;
  }
}

.epic {
  &:hover {
    background-color: rgba($epicPink, 0.5);
    border-color: $commonGray;
  }
}

.legendary {
  &:hover {
    background-color: rgba($legendaryOrange, 0.5);
    border-color: $commonGray;
  }
}
